/* Body styles */

body{
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--dark-text-color);
    overflow-x: hidden;
}

/* Common classes */

.hidden{
    display: none;
}

/* Common styles */


i.fa{
    
}

i.fa:hover{
    cursor: pointer;
    /* color: var(--golden-color); */
}

button{
    padding: 0.5rem 1rem;
    color: var(--buttons-text-color);
    background-color: var(--buttons-bg);
    font-weight: bold;
    font-size: inherit;
}

button:hover{
    color: var(--buttons-hover-text-color);
    cursor: pointer;
}

input, textarea, select{
    padding: 0.5rem;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    font-size: inherit;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



