@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    /* Fonts */
    --primary-font: 'Montserrat', sans-serif;

    /* Colors */
    --golden-color: #D6AC68;
    --white-color: #FFFFFF;
    --black-color: #000000;

    /* Borders */
    --small-border: 1px solid;
    --medium-border: 3px solid;
    --large-border: 5px solid;

    /* Text-colors */
    --dark-text-color: #666666;
    --light-text-color: #FFFFFF;

    /* Buttons */
    --buttons-bg: #D6AC68;
    --buttons-text-color: #000000;
    --buttons-hover-text-color: #FFFFFF;

    /* Box-shadows */

    --black-box-shadow:1px 4px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 4px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 20px 0px rgba(0,0,0,0.75);

}