.banner{
    min-height: 100vh;
    background-image: url('../../images/home-banner-bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 0.5rem;
}

@media screen and (min-width: 720px){
    .banner{
        height: 80vh;
    }
}

@media screen and (min-width: 920px){
    .banner{
        height: 70vh;
    }

    .banner__image{
        width: 30%;
    }
}